@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

 
}
@font-face {
  font-family: "nasalization";
  src: url("./assets/fonts/Nasalization-rg.otf") format("otf"),
       url("./assets/fonts/nasalization-rg.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-primary: "nasalization", 'sans-serif'
}
@layer components {
  .hero-bg {
    background-image: linear-gradient(rgba(23, 42, 43, 0.6), rgba(23, 42, 43, 0.8)),
      url("./assets/rohalandscape.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}


/* Custom animations */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.float {
  animation: float 6s ease-in-out infinite;
}

/* Smooth hover transitions */
.hover-lift {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-lift:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.primary{
  color:#172a2b;
}